.quote-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #E5E7EB;
    padding-top: 5%;
    padding-bottom: 5%;
}

#inspiring-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    text-align: left;
    margin-left: 23%;
    margin-right: 23%;
    margin-bottom: auto;
}

#citation {
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    margin-right: 23%;
    margin-top: auto;
    margin-bottom: auto;
}
