.base {
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: auto;
    justify-content: space-between;
}

.header-logo-text {
    font-size: 24px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-self: center;
    font-weight: bold;
}

.header-links {
    display: flex;
    flex: 1;
}

.header-list-right {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    list-style-type: none;
}

.header-list-right > li {
    margin-right: 3%;
}

.footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
}

.hero, .header, .footer {
    background-color: #1F2937;
    color: #F9FaF8;

    display: flex;
    flex-direction: row;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    text-align: left;
    /*
    border: 1px solid red;
    */
}

.hero-left > p {
    padding-left: 40%;
}

#hero-main-text {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0px;
}

#hero-secondary-text {
    margin-top: 0px;
    margin-bottom: 0px;
}

.sign-up-btn {
    border-radius: 8px;
    font-weight: bold;
    margin-left: 40%;
    margin-right: auto;
    margin-top: 10px;
    padding: 5px 30px;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-right {
    display: flex;
    flex: 1;
    /*
    border: 1px solid purple;
    */
}

.placeholder-area {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #F9FaF8;
    background-color: gray;
    margin: 5% 23% 5% 10%;
}

.random-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#random-info-card-area {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: auto 20%;
    justify-content: space-evenly;
}

.random-info-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 30px;
}

.square-card {
    display: flex;
    flex: 1;
    border-radius: 20px;
    border-color: #3882F6;
    border-width: 5px;
    border-style: solid;
    min-height: 150px;
    max-height: 150px;
    width: 150px;
}

.square-card-text {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    color: #1F2937;
}

.quote-section {
    display: flex;
    flex: 1;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    
}

.call-to-action {
    display: flex;
    flex: 1;
    color: white;
    background-color: #3882F6;
    border-color: #3882F6;
}

#information-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}