.base {
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: auto;
    justify-content: space-between;
}

.header-logo-text {
    font-size: 24px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-self: center;
    font-weight: bold;
}

.header-links {
    display: flex;
    flex: 1;
}

.header-list-right {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    list-style-type: none;
}

.header-list-right > li {
    margin-right: 3%;
}

.footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
}

.hero, .header, .footer {
    background-color: #1F2937;
    color: #F9FaF8;

    display: flex;
    flex-direction: row;
}

.main-area {
    display: flex;
    flex-direction: column;
    flex: 4 0 0;
    border: 1px solid greenyellow;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    text-align: center;
    border: 1px solid red;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0px;
}

.hero-secondary-text {
    margin-top: 0px;
    margin-bottom: 0px;
}

.sign-up-btn {
    border-radius: 8px;
    font-weight: bold;

    padding: 5px 30px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-content: center;
    
    
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.random-info {
    display: flex;
    flex: 1;
}

.quote-section {
    display: flex;
    flex: 1;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    
}

.call-to-action {
    display: flex;
    flex: 1;
    color: white;
    background-color: #3882F6;
    border-color: #3882F6;
}

.information-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}